#navibar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    list-style: none;
    position: fixed;
    right: 0px;
    margin-right: 40px;
    top: 25%;
    border: 1px solid;
    border-radius: 10px;
}

#navibar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px
}

#navibar li a.active {
    background-color: #4CAF50;
    color: white;
}

#navibar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#body {
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: #eee;
    padding: 10px;
}

.container h3 {
    text-align: center;
}

body ul {
    list-style: none;
}

body, html {
    height: 100%;
}

.info {
    width: 10vw;
}

#objective {
    width: 10vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vw;
}

h1 {
    text-align: center;
}

#profile {
    height: 100vh;
    background-color: white;
}

#education {
    height: 100vh;
    background-color: white;
}

#skills {
    height: 100vh;
    background-color: white;
}

#projects {
    height: 100vh;
    background-color: white;
}

#experiences {
    height: 100vh;
    background-color: white;
}

#contact {
    height: 100vh;
    background-color: white;
}
