/*
Navibar Section
*/

#navibar ul {
    list-style-type: none;
    margin: 0;
    padding: 30px 0px 30px 0px;
    background-color: #2D4140;
    list-style: none;
    position: fixed;
    right: 0px;
    margin-right: 5%;
    top: 5%;
    border-radius: 10px;
}

#navibar li a {
    display: block;
    color: white;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    border-radius: 10px
}

#navibar li a.active {
    background-color: #4CAF50;
    color: white;
}

#navibar li a:hover:not(.active) {
    background-color: #89BEC2;
    color: white;
}


/*
General CSS Section
*/

#body {
    padding: 10px;
    color: black;
}

.container h3 {
    text-align: center;
}

body ul {
    list-style: none;
}

body, html {
    height: 100%;
    background-color: #F2F2F2;
}

.info {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    padding-left: 16%;
    padding-top: 10%;
}

h1 {
    text-align: center;
    color: #2D4140;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

hr {
    width: 70%;
    border-color: white;
}


/*
CSS for Profile Section
*/

#profilesection {
    color: #2D4140;
    line-height: 25px;
    padding-top: 10%;
}

#profilesection h4 {
    font-size: 40px;
    color: #2D4140;
    text-align: center;
}

#profile h1, hr {
    color: #2D4140;
}

#picture {
    text-align: center;
}

#objective {
    padding-left: 40px;
}

#profile {
    height: 88vh;
    padding-top: 10px;
}

#profile hr {
    border-color: #2D4140;
}


/*
CSS for Experiences
*/

#experiences {
    height: 87vh;
    padding-top: 20px;
    width: 100%;
    background-color: #89BEC2;
    color: white;
}

#experiencebody {
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 2.5%;
}


/*
CSS for Projects
*/

#projects {
    height: 87vh;
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 2.5%;
    background-color: #89BEC2;
    color: white;
}

#projects hr {
    width: 107%;
}

#projects li, h2, h4 {
    color: white;
}


/*
CSS for Skills
*/

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20%
}

.stars {
    color: #89BEC2;
    display: flex;
    flex-wrap: nowrap;
}

#skills {
    height: 87vh;
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 2.5%;
}

#skills hr {
    width: 107%;
    border-color: #2D4140;
}

#skills h2, .icons {
    color: #2D4140;
}

#skills ul {
    padding-top: 5%;
}

#skills ul li {
    padding: 10px;
}


/*
CSS for Education
*/

#education {
    height: 87vh;
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 2.5%;
    color: #2D4140;
    text-align: center;
}

#education hr, h2 {
    width: 107%;
    color: #2D4140;
    border-color: #2D4140;
}

#subeducation {
    padding-top: 5%;
    color: #2D4140;
}


/*
CSS for Contact information
*/

.centerer {
    display: flex;
    align-items: center;
}

#contact {
    height: 50vh;
    padding-top: 20px;
    background-color: #89BEC2;
    color: white;
}

#contact h2 {
    text-align: center;
}

#content {
    display: flex;
    text-align: center;
    padding-top: 10%;
    padding-right: 25%;
    padding-left: 25%;
}

#content .glyphicon {
    font-size: 50px;
}

#content .fa {
    font-size: 50px;
}

.iconthing {
    padding-right: 8px;
}
