#navibar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    list-style: none;
    position: fixed;
    right: 0px;
    margin-right: 5%;
    top: 5%;
    border: 1px solid;
    border-radius: 10px;
}

#navibar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px
}

#navibar li a.active {
    background-color: #4CAF50;
    color: white;
}

#navibar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#body {
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: #eee;
    padding: 10px;
}

.container h3 {
    text-align: center;
}

body ul {
    list-style: none;
}

body, html {
    height: 100%;
    font-family: Garamond;
}

.info {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-top: 10%;
}

.row {
    width: 50vw;
}

.picture {
    width: 40vw;
    padding-left: 30px;
}

#objective {
    width: 40vw;
    padding-left: 40px;
}

h1 {
    text-align: center;
}

hr {
    width: 75%;
}

#profile {
    height: 88vh;
    background-color: white;
    padding-top: 10px;
}

#education {
    height: 85vh;
    background-color: white;
    padding-top: 20px;
}

#education p, h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skills {
    height: 87vh;
    background-color: white;
    padding-top: 20px;
}

#skills ul {
    column-count: 2;
    padding-top: 5%;
}

#skills ul li {
    padding: 10px;
}

#projects {
    height: 87vh;
    background-color: white;
    padding-top: 20px;
}

#experiences {
    height: 87vh;
    background-color: white;
    padding-top: 20px;
}

#contact {
    height: 100vh;
    background-color: white;
    padding-top: 20px;
}

#content {
    columns: 3;
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}

.line {
    border-left: 1px solid;
    height: 25px;
}
